//
//  Config.xcconfig
//  GEON-PPANG-iOS
//
//  Created by JEONGEUN KIM on 2023/07/18.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

/// BASE_URL

BASE_URL = http:/$()/52.79.161.83

// ACCESS_TOKEN

ACCESS_TOKEN = Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJBY2Nlc3NUb2tlbiIsImV4cCI6MTY5MDc3NzcwMiwiZW1haWwiOiJleGFtcGxlQHNvcHQuY29tIiwibWVtYmVySWQiOjExfQ.4wcpdoi-GZM9I9kMd7xKsTk6NM6G3OFjNOGZelOEGICFWmr8KAORnnMd34hvNBblj_rWQmlu0ze2woziycaq5w
